.fotorama--wp {
  margin: 40px 0 28px 0;
}

.fotorama--fullscreen {
  margin: 0;
}

.gallery-settings h3:after {
  content: ' (Fotorama ignores them)';
  font-weight: normal;
  text-transform: none;
  white-space: nowrap;
}

[lang="ru-RU"] .gallery-settings h3:after {
	content: ' (Фоторама игнорирует их)';
}
