.pin {
  position: absolute;
  width: 3.1%;
  height: 4.5%; 
  cursor: pointer;

  &__img {
    position: absolute;
    -webkit-filter: drop-shadow($pinShadow);      
    filter: drop-shadow($pinShadow);      
  }

  &__clicked {
    position: absolute;
    display: none;

    &_show {
      display: block;
    }
  }

  &_1 {
    top: 63%;
    left: 60%;
  }

  &_2 {
    top: 56%;
    left: 65%;
  }

  &_3 {
    top: 50%;
    left: 62%;
  }
}



