$pinShadow: 3px 3px 3px rgba(0,0,0,0.5);
$size: 18px;

.pin {
  position: absolute;
  width: $size;
  height: $size; 
  cursor: pointer;

  &__img {
    position: absolute;
    -webkit-filter: drop-shadow($pinShadow);      
    filter: drop-shadow($pinShadow);      
  }

  &__clicked {
    position: absolute;
    display: none;

    &_show {
      display: block;
    }
  }

  &_1 {
    top: 63%;
    left: 60%;
  }

  &_2 {
    top: 56%;
    left: 65%;
  }

  &_3 {
    top: 50%;
    left: 62%;
  }

  &_12 {
    top: 71%;
    left: 22%;
  }

  &_13 {
    top: 45%;
    left: 48%;
  }

  &_14 {
    top: 2%;
    left: 60%;
  }
}


$sizeMedium: 23px;
@media screen and (min-width: 600px) {
  .pin {
    width: $sizeMedium;
    height: $sizeMedium;
  } 
}

$sizeLarge: 4%;
@media screen and (min-width: 900px) {
  .pin {
    width: $sizeLarge * 0.77;
    height: $sizeLarge;
  } 
}
